
.modal_holder {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
    /* opacity: 0.5; */
}

.apply_flex {
    display: flex;
}

.poke_modal {    
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 450px;
    margin: 20px;
    margin-left: 20px;
    margin-right: 20px;
    /* opacity: 0; */
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.poke_modal_header, .poke_modal_body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

